.parent{
	background-color:#B3EEC1;
	display: flex;
	flex-direction: row;
	border:2px solid black;
}
.child1 img{
	width: 80%;
}
.child1{
	background-color:#D9B5E3;
	width: 30%;
	margin: 1%;
	padding: 1%;
	border: 2px solid black;
	font-size: 20px;
}
.child2{
	margin-top: 2%;
	margin-left: 7%;
	font-size: 20px;
}